$blue: #00ccff;
$hoverblue: #58DCFC;
$grey: rgba(150,150,150,1);
$primary-font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$bg-borders: 2px solid #00ccff;

body {
	margin: 0 auto;
	max-width: 1000px;
	background: white;
	font-family: $primary-font;
}

header {
	margin: 0 0 2% 0;
	width: 100%;
	background:  $blue;
	h1 {
		padding: 0;
		margin: 0;
		border: $bg-borders;
		border-top: none;
		color: white;
		text-align: center;
		font-size: 60px;
		font-weight: lighter;
	}
	ul {
		text-align: center;
		margin: 0 auto;
	}
	li {
		display: inline;
		list-style: none;
		color: white;
		font-size: 14px;
	}
	a {
		font-size: 13px;
		color: white;
		text-decoration: none;
		padding: 5px 0;
	}
	a:hover {
		color: #58DCFC;
	}
}


#logos,
#print,
#web,
#advertising,
#about,
#contact {
	border: $bg-borders;
	border-top: none;
	width: 100%;
	padding: 1%;
	margin-bottom: 2%;
}

#about,
#contact {
	width: 49%;
	p {
		color: $grey;
		font-size: 12px;
		font-family: $primary-font;
	}

	h2 {
		font-size: 30px;
		color: $blue;
		font-weight: lighter;
	}
}

#about {
	float: left;
}
#contact {
	float: right;

	h4 {
		font-size: 20px;
		color: $blue;
		line-height: 20px;
	}
	h5 {
		font-size: 13px;
		color: $blue;
		line-height: 12px;
	}
}

#logos,
#print,
#web,
#advertising {
	clear: both;
	h2 {
		text-align: center;
		font-size: 30px;
		color: $blue;
		font-weight: lighter;
	}

	li {
		width: 18.8%;

		a img {
			margin: 1%;
			padding: 0;
			width: 100%;

			&:hover {
				opacity: .7;
			}
		}
	}
}


#web {
	li {
		width: 32%;
	}
}

#advertising {
	li {
		width: 23.5%;
	}
}


footer {
	margin: 0;
	width: 100%;
	h3 {
		padding: 1%;
		border: $bg-borders;
		border-top: none;
		background:  $blue;
		color: white;
		text-align: center;
		font-size: 15px;
		font-family: $primary-font;
	}
}


.uptotop {
	width: 60px;
	position: fixed;
	right: 10px;
	bottom: -40px;
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-ms-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;

	&:hover {
		bottom: 10px;
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
	}
}